Django==5.2.1
djangorestframework==3.15.1
drf-yasg==1.21.7
social-auth-app-django==5.4.1
djangorestframework-simplejwt==5.3.1
python-decouple==3.8
django-filter==24.2
Pillow==10.3.0
requests==2.31.0
googletrans==4.0.0rc1
django-cors-headers==4.3.1
django-sslserver==0.22
django-extensions==0.5.3
werkzeug==3.0.1
pyOpenSSL==2.22